/* Avatar */

.avatar {
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.avatar img {
  max-width: 100%;
  max-height: 100%;
}

/* Avatar end */

/* Action-menu */

.action-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.action-menu i {
  font-size: 1.8rem;
}

.action-menu .left {
  display: inline-flex;
  flex-direction: row;
}

.action-menu .left i {
  margin-right: 0.8rem;
}

/* Action-menu end */

/* Like-member */

.like-member {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.like-member .avatar-list {
  position: relative;
  width: 50px;
  height: 24px;
}

.like-member .avatar-list li {
  position: absolute;
}

.like-member .avatar-list li:nth-child(2) {
  right: 5px;
}

.like-member .avatar-list li .avatar {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
}

/* Like-member end */

/* Chat-box */

.chat-box ul {
  display: flex;
  flex-direction: column;
}

.chat-box ul li {
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.chat-box ul li.header {
  justify-content: flex-start;
}

.chat-box ul li .chat-content .name {
  margin-right: 0.25rem;
}

.chat-box ul li .action {
  margin-left: 0.25rem;
}

.chat-box ul li .action i {
  font-size: 1.2rem;
}

/* Chat-box end */
