/* Share layout */

* {
  margin: 0px;
  padding: 0px;
}

.container {
  margin: auto;
  max-width: 1024px;
  width: 100%;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  background-color: #FFFFFF;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav .logo, nav .search, nav .action {
  display: inline-flex;
  align-items: center;
  height: 80px;
}

nav .logo {
  flex: 1 1 200px;
  justify-content: flex-start;
}

nav .logo .icon {
  display: flex;
  align-items: center;
}

nav .logo .icon::after {
  display: block;
  margin: 0 0.8rem;
  width: 1px;
  height: 1.8rem;
  background-color: rgb(38, 38, 38);
  content: ' ';
}

nav .logo .text {
  font-size: 1.8em;
  font-family: 'Lobster', cursive;
}

nav .search {
  position: relative;
  flex: 0 0 180px;
}

nav .search input {
  padding: 0.5rem 0.75rem;
  padding-right: 1.5rem;
  width: 100%;
  outline: none;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

nav .search i {
  position: absolute;
  right: 0.5rem;
  color: #dbdbdb;
  font-size: 1rem;
  ;
}

nav .action {
  flex: 1 1 200px;
  justify-content: flex-end;
}

nav .action a {
  margin-left: 1rem;
  text-decoration: none;
}

nav .action a:nth-child(1) {
  margin-left: auto;
}

nav .action a i {
  color: rgb(38, 38, 38);
  font-size: 2.2rem;
}

.main {
  display: flex;
  flex-direction: row;
  padding-top: 140px;
}

.main article {
  display: inline-flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin-right: 2rem;
}

.main article section {
  margin-bottom: 60px;
}

.main aside {
  display: inline-flex;
  flex: 0 0 300px;
  flex-direction: column;
}

/* Share layout end */

/* Post layout */

.post {
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  background-color: #FFFFFF;
}

.post>.header {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
}

.post>.header .information {
  display: inline-flex;
  flex-direction: column;
  margin-left: 0.75rem;
  color: #262626;
}

.post>.header .information .name {
  font-size: 0.9em;
}

.post>.header .information .location {
  font-size: 0.8em;
}

.post>.media img {
  width: 100%;
}

.post>.content {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.75rem;
  font-size: 0.9em;
}

.post>.content>.footer {
  display: flex;
  flex-direction: row;
  padding: 0.75rem 0;
  padding-top: 1rem;
  border-top: 1px solid #efefef;
  font-size: 0.9em;
}

.post>.content>.footer form {
  display: inline-flex;
  flex: 1 1 auto;
}

.post>.content>.footer form input {
  outline: none;
  border: none;
  font-size: 1.1em;
}

.post>.content>.footer .more {
  display: inline-flex;
  flex: 0 0 36px;
  justify-content: flex-end;
}

.post>.content>.footer .more i {
  font-size: 1.5em;
}

/* Post layout end */

/* Suggestions layout */

.suggestions {
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  background-color: #FFFFFF;
}

.list-box .header span.title {
  font-weight: 500;
  font-size: 0.9em;
}

.suggestions .header span.all a {
  color: #3897f0;
  font-weight: 500;
  font-size: 0.9em;
}

/* Suggestions layout end */

/* Aside layout */

aside>* {
  margin-bottom: 0.75rem;
}

/* Aside layout end */

/* Footer layout */

footer {
  color: #c7c7c7;
  font-size: 11px;
}

footer ul.menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

footer ul.menu li {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

footer ul.menu li a {
  color: #c7c7c7;
  font-weight: 500;
  text-decoration: none;
}

footer ul.menu li::after {
  content: ' ';
  background-color: #c7c7c7;
  margin: 0 5px;
  height: 2px;
  width: 2px;
  display: inline-flex;
}

footer ul.menu li:nth-last-child(1)::after {
  display: none;
}

/* Footer layout end */
